*{
    margin: 0;
    padding: 0;
}

/* header section starts here */

header{
    position: absolute;
    z-index: 1;
    width: 98vw;
    color: white;
    padding-top: 25px;
    font-family: roboto;
}

.nav-div{
    display: flex;
    justify-content: space-between;
    padding: 0px 280px;
}


.nav-div-logo{
    display: flex;
}

.nav-div-logo h2{
    font-size: 35px;
}

.nav-div-logo p{
    padding: 15px 0px 0px 10px;
    color: #627589;
    font-weight: bold;
}

.nav-ul li{
    top: 10px;
    display: inline;
    position: relative;
    padding: 0px 10px;
    font-weight: bold;
}

.li-login{
    border-left: 2px solid #7b8ea1;
}

#signup{
    border-bottom: 2px solid #e35780;
}

.country{
    border: none;
    background: transparent;
}   


/* header section ends here */

/* hero section starts here */

.Hero{
    background-image: linear-gradient(rgb(112 122 139 / 50%), rgb(88 132 171 / 50%)),url(./assets/town.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
}

.Hero-text{
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 60px;
    font-family: 'Roboto';
    transform: translate(-50%,-50%);
    position: relative;
    color: white;
}

.Hero-button{
    background-color: #fb6d9d;
    color: white;
    border-radius: 55px;
    font-size: 20px;
    border: none;
    text-align: center;
    padding: 18px;
}

/* hero section ends here */

/* our mission section css starts from here */

.our-mission{
    height: 50vh;
}

.our-mission div{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
    
}

.our-mission-titel{
    padding: 15px;
    font-family: 'Roboto';
    font-size: 50px;
    color: #545151;
}

.our-mission-descp{
    color: slategray;
    padding: 2px;
    font-size: 16px;
    font-family: roboto;
}

/* our mission section css ends here */

/* our people section starts here */

.our-people{
    background-color: #edf2f5;
    height: 100vh;
    padding: 0px 280px;
    font-family: Roboto;
}

.our-people-text-card-wrapper{
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}

.our-people-text{
    text-align: center;
}

.our-people-descp{
    color: slategray;
    padding: 2px;
    font-size: 16px;
}


#our-people-card-wrapper{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}   


#our-people-title{
    font-size: 50px;
    color: #545151;
    padding-bottom: 10px;
}

.our-people-name{
    padding: 20px 0px;
    color: #545151;
    font-size: 18px;
    font-weight: bold;
}

.our-people-post{
    padding-bottom: 5px;
    color: slategray;
    font-size: 16px;
}

.our-people-tag{
    padding-top: 20px;
    color: slategray;
    font-size: 16px;
}

.our-people-card img{
    height: 255px;
    width: 400px;
    background-color: #D6D6D1;
    object-fit: contain;
}

/* our people section ends here */


/* footer section starts here */

.footer{
    background-color: #edf2f5;
    font-family: Roboto;
}

#footer-text-div{
    background-color: #fb6d9d;
    padding: 60px 280px;
    display: flex;
    justify-content: space-between;
}

#footer-text-div p{
    color: white;
    padding: 18px;
    font-size: 20px;
}

#footer-text-div button{
    background-color:  #e35780; 
    color: white;
    border-radius: 55px;
    font-size: 20px;
    border: none;
    text-align: center;
    padding: 18px;
}

#footer-detail-wrapper{
    display: flex;
    justify-content: flex-start;
    padding: 100px 280px;
}

.footer-detail-div{
    padding-right: 200px;
}

#footer-detail-wrapper a:link{
    text-decoration: none;
    color: slategray;
}

#footer-detail-wrapper p{
    color: slategray;
    font-size: 16px;
    padding: 10px 0px;
}

#footer-detail-wrapper h4{
    font-size: 18px;
    color: #545151;
    padding-bottom: 10px;
}

.footer hr{
    margin: 0px 280px;
    opacity: 0.4;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px 280px 90px 280px;
}

.footer-bottom h2{
    color: #545151;
    font-size: 35px;
}

.footer-bottom p{
    color: slategray;
    font-size: 16px;
}

.social-svg{
    padding-top: 70px;
}

.social-svg img{
    height: 40px;
    padding-right: 15px;
}

/* footer section ends here */